<!--Section-->
    <section class="sptb bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <img src="{{ 'assets/images/users/18.png'|theme }}" alt="img" class="absolute-student">
                </div>
                <div class="col-md-12 col-lg-8">
                    <div class="section-title">
                        <h2>Abiturientlar uchun</h2>
                        <p class="fs-18 lead">Ko'pchilik abiturientlarni qiziqtirgan foytdali havolalar </p>
                    </div>
                    <div class="text-wrap">
                        <div class="btn-list">
                            <a href="javascript:void(0)" class="btn btn-primary btn-lg mb-5 mb-lg-0"><i
                                    class="fa fa-graduation-cap fa-1x me-2"></i> O'tish ballari</a>

                             <a href="javascript:void(0)" class="btn btn-primary btn-lg mb-5 mb-lg-0"><i
                                    class="fa fa-graduation-cap fa-1x me-2"></i> O'quv yo'nalishlari</a>

                             <a href="javascript:void(0)" class="btn btn-primary btn-lg mb-5 mb-lg-0"><i
                                    class="fa fa-graduation-cap fa-1x me-2"></i> Test topshiriladigan fanlar</a>                            
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/Section-->