<!--Section-->
		<section class="sptb bg-white">
			<div class="container">
				<div class="section-title">
					{# <h2>Our Sponsors</h2>
					<p class="fs-18 lead">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p> #}
				</div>
				<div id="small-categories" class="owl-carousel client-carousel">
					<div class="item">
						<div class="client-img">
							<img src="https://spruko.com/demo/edomi/Edomi/assets/images/clients/1.png" alt="img">
						</div>
					</div>
					<div class="item">
						<div class="client-img">
							<img src="https://spruko.com/demo/edomi/Edomi/assets/images/clients/2.png" alt="img">
						</div>
					</div>
					<div class="item">
						<div class="client-img">
							<img src="https://spruko.com/demo/edomi/Edomi/assets/images/clients/3.png" alt="img">
						</div>
					</div>
					<div class="item">
						<div class="client-img">
							<img src="https://spruko.com/demo/edomi/Edomi/assets/images/clients/4.png" alt="img">
						</div>
					</div>
					<div class="item">
						<div class="client-img">
							<img src="https://spruko.com/demo/edomi/Edomi/assets/images/clients/5.png" alt="img">
						</div>
					</div>
					<div class="item">
						<div class="client-img">
							<img src="https://spruko.com/demo/edomi/Edomi/assets/images/clients/7.png" alt="img">
						</div>
					</div>
					<div class="item">
						<div class="client-img">
							<img src="https://spruko.com/demo/edomi/Edomi/assets/images/clients/8.png" alt="img">
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/Section-->