<!--Horizontal-main -->
				<div class="horizontal-main header-style1  bg-dark-transparent clearfix p-0 pt-4">
					<div class="horizontal-mainwrapper container clearfix">
						<div class="desktoplogo">
								<a href="index.html"><img src="{{ 'assets/images/logo2-new.png'|theme }}" alt="img">
								<img src="{{ 'assets/images/brand/logo.png'|theme }}" class="header-brand-img header-white" alt="logo">
							</a>
						</div>
						<div class="desktoplogo-1">
							<a href="index.html"><img src="{{ 'assets/images/brand/logo.png'|theme }}" alt="img"></a>
						</div>
						<nav class="horizontalMenu clearfix d-md-flex">
							<ul class="horizontalMenu-list">
								<li aria-haspopup="true"><a href="javascript:void(0)">Axborot xizmati<span class="fe fe-chevron-down"></span></a>
									<ul class="sub-menu">										
										<li aria-haspopup="true"><a href="javascript:void(0)">Yangiliklar<i class="fa fa-angle-right float-right mt-1 d-none d-lg-block"></i></a>
												<ul class="sub-menu">
													<li aria-haspopup="true"><a href="javascript:void(0)">Dolzarb yangiliklar</a></li>
													<li aria-haspopup="true"><a href="javascript:void(0)">Talabalar</a></li>
													<li aria-haspopup="true"><a href="javascript:void(0)">Qabul 2023</a></li>
													<li aria-haspopup="true"><a href="javascript:void(0)">Uchrashuvlar</a></li>
													<li aria-haspopup="true"><a href="javascript:void(0)">Rasmiy tashriflar</a></li>
													<li aria-haspopup="true"><a href="javascript:void(0)">Seminarlar</a></li>
													<li aria-haspopup="true"><a href="javascript:void(0)">Tadbirlar</a></li>
													
												</ul>
											</li>
											<li aria-haspopup="true"><a href="javascript:void(0)">E'lonlar<i class="fa fa-angle-right float-right mt-1 d-none d-lg-block"></i></a>
												<ul class="sub-menu">
													<li aria-haspopup="true"><a href="javascript:void(0)">OTM e'lonlari</a></li>
													<li aria-haspopup="true"><a href="javascript:void(0)">Talabalar uchun</a></li>
													<li aria-haspopup="true"><a href="javascript:void(0)">OTM qabuli</a></li>
													<li aria-haspopup="true"><a href="javascript:void(0)">PHD himoyasi</a></li>
													<li aria-haspopup="true"><a href="javascript:void(0)">Tendr e'lonlari</a></li>	
												</ul>
											</li>
										<li aria-haspopup="true"><a href="index-slides.html">Kutilayotgan tadbirlar</a></li>
										<li aria-haspopup="true"><a href="index-video.html">Foto galereya</a></li>
										<li aria-haspopup="true"><a href="index-background-animation.html">Video galereya</a></li>									
									</ul>
								</li>
								
									<li aria-haspopup="true"><a href="javascript:void(0)">Tuzilma <span class="fe fe-chevron-down"></span></a>
									<div class="horizontal-megamenu clearfix">
									<style>
									
									</style>
									<div class="container " style="max-width: 1700px; ">
									
											<div class="megamenu-content" >
												<div class="row">
													<ul class="col link-list">
														<li class="title">Rahbariat</li>
														<li><a href="#">OTM rektori</a></li>
														<li><a href="#">O'quv ishlari bo'yicha prorektor</a></li>
														<li><a href="#">Yoshlar bilan ishlash bo'yicha prorektor</a></li>
														<li><a href="#">Ilmiy ishlar bo'yicha prorektor</a></li>
														<li><a href="#">Moliya-iqtisod ishlari bo'yicha prorektor</a></li>													
													</ul>
													<ul class="col link-list">
														<li class="title">Markaz va bo'limlar</li>
														<li><a href="#"> Axborot resurs markazi</a></li>
														<li><a href="#"> Raqamli ta'lim texnologiyalari markazi</a></li>
														<li><a href="#"> Xalqaro hamkorlik bo'limi</a></li>
														<li><a href="#"> Monitoring va ichki nazorat bo'limi</a></li>
														<li><a href="#"> Xodimlar boʻlimi</a></li>
														<li><a href="#"> Marketing boʻlimi</a></li>
														<li><a href="#"> Yoshlar bilan ishlash, ma’naviyat va ma’rifat</a></li>
														<li><a href="#"> Iqtidorli talabalarning ilmiy-tadqiqot <br> faoliyatini tashkil etish bo’limi</a></li>
														<li><a href="#"> Universitet Yoshlar yetakchisi</a></li>
														<li><a href="#"> Yuriskonsult</a></li>
														<li><a href="#"> Buxgalteriya</a></li>
														<li><a href="#"> Sirtqi bo'lim</a></li>
														<li><a href="#"> Oʻquv-uslubiy boʻlim </a></li>													
														<li><a href="#"> Reja moliya</a></li>
														<li><a href="#"> Devonxona</a></li>
														<li><a href="#"> Texnik-foydalanish va xо‘jalik bо‘limi</a></li>
														<li><a href="#"> Akademik litsey</a></li>
														<li><a href="#"> Ilmiy-innovatsion ishlanmalarni <br> tijoratlashtirish bo’limi</a></li>
														<li><a href="#"> Ilmiy-tadqiqot, innovatsiyalar va ilmiy-pedagogik <br> kadrlar tayyorlash bo’limi</a></li>

													
													</ul>
													
													<ul class="col link-list">
														<li class="title">User pages</li>
														<li><a href="userprofile.html"> User Profile</a></li>
														<li aria-haspopup="true"><a href="profile.html">User Profile 1</a></li>
														<li><a href="mydash.html">My Dashboard</a></li>
														<li><a href="mycourses.html">My Courses</a></li>
														<li><a href="myfavorite.html">Favorite Courses</a></li>
														<li><a href="manged.html">Manged Courses</a></li>
														<li><a href="payments.html">Payments</a></li>
														<li><a href="orders.html"> Orders</a></li>
													</ul>
													<ul class="col link-list">
														<li class="title">Other Pages</li>
														<li><a href="settings.html"> Settings</a></li>
														<li><a href="page-details.html">Course Details</a></li>
														<li><a href="page-details1.html">Course Details 1</a></li>
														<li><a href="page-details-right.html">Course Details Right</a></li>
														<li><a href="testimonial.html">Testimonials</a></li>
														<li><a href="faq.html">Faq</a></li>
														
													</ul>
													
													<ul class="col link-list">
														<li class="title">Headers & Footers</li>
														<li><a href="header-style1.html">Header Style 01</a></li>
														<li><a href="header-style2.html">Header Style 02</a></li>
														<li><a href="header-style3.html">Header Style 03</a></li>
														<li><a href="header-style4.html">Header Style 04</a></li>
														<li><a href="footer-style.html">Footer Style 01</a></li>
														<li><a href="footer-style2.html">Footer Style 02</a></li>
														<li><a href="#"> Yoshlar bilan ishlash, ma’naviyat va ma’rifat</a></li>
														<li><a href="footer-style3.html">Footer Style 03</a></li>
														<li><a href="footer-style4.html">Footer Style 04</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									
								</li>
								<li aria-haspopup="true"><a href="about.html">About Us </a></li>
								<li aria-haspopup="true"><a href="widgets.html">Widgets</a></li>
							
								<li aria-haspopup="true"><a href="javascript:void(0)">Blog <span class="fe fe-chevron-down m-0"></span></a>
									<ul class="sub-menu">
										<li aria-haspopup="true"><a href="javascript:void(0)">Blog Grid <i class="fa fa-angle-right float-right mt-1 d-none d-lg-block"></i></a>
											 <ul class="sub-menu">
												<li aria-haspopup="true"><a href="blog-grid.html">Blog Grid Left</a></li>
												<li aria-haspopup="true"><a href="blog-grid-right.html">Blog Grid Right</a></li>
												<li aria-haspopup="true"><a href="blog-grid-center.html">Blog Grid Center</a></li>
											</ul>
										</li>
										<li aria-haspopup="true"><a href="javascript:void(0)">Blog List <i class="fa fa-angle-right float-right mt-1 d-none d-lg-block"></i></a>
											 <ul class="sub-menu">
												<li aria-haspopup="true"><a href="blog-list.html">Blog List Left</a></li>
												<li aria-haspopup="true"><a href="blog-list-right.html">Blog List Right</a></li>
												<li aria-haspopup="true"><a href="blog-list-center.html">Blog List Center</a></li>
											</ul>
										</li>
										<li aria-haspopup="true"><a href="javascript:void(0)">Blog Details <i class="fa fa-angle-right float-right mt-1 d-none d-lg-block"></i></a>
											<ul class="sub-menu">
												<li aria-haspopup="true"><a href="blog-details.html">Blog Details Left</a></li>
												<li aria-haspopup="true"><a href="blog-details-right.html">Blog Details Right</a></li>
												<li aria-haspopup="true"><a href="blog-details-center.html">Blog Details Center</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li aria-haspopup="true"><a href="javascript:void(0)">Custom Pages <span class="fe fe-chevron-down m-0"></span></a>
									<ul class="sub-menu">
										<li><a href="register.html">Register</a></li>
										<li><a href="login.html">Login</a></li>
										<li><a href="login-2.html">Login 02</a></li>
										<li><a href="forgot.html">Forgot Password</a></li>
										<li><a href="lockscreen.html">Lock Screen</a></li>
										<li><a href="underconstruction.html">Under Constructions</a></li>
										<li><a href="404.html">404</a></li>
											<li aria-haspopup="true"><a href="javascript:void(0)">Submenu<i class="fa fa-angle-right float-right mt-1 d-none d-lg-block"></i></a>
												<ul class="sub-menu">
													<li aria-haspopup="true"><a href="javascript:void(0)">Level-01</a></li>
													<li aria-haspopup="true"><a href="javascript:void(0)">Level-02<i class="fa fa-angle-right float-right mt-1 d-none d-lg-block"></i></a>
														<ul class="sub-menu">
															<li aria-haspopup="true"><a href="javascript:void(0)">Level-11</a></li>
															<li aria-haspopup="true"><a href="javascript:void(0)">Level-12</a></li>
														</ul>
													</li>
												</ul>
											</li>
									</ul>
								</li>
								<li aria-haspopup="true"><a href="contact.html"> Contact Us</a></li>
								<li aria-haspopup="true"><a href="contact.html"><i class="fe fe-shopping-cart"></i></a></li>
								<li aria-haspopup="true"><a href="contact.html" class="border-start border-white-transparent"><i class="fe fe-search"></i></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div><!--/Horizontal-main -->