<!--Section-->
    <section class="sptb">
        <div class="container">
            <div class="section-title">
                <h2 class="position-relative">Universitet Iqtidorli Talabalari</h2>
                <p class="fs-18 lead">Universitetda tahsil oluvchi iqtidorli talabalar haqida qisqacha ma'lumotlar</p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="myCarousel" class="owl-carousel testimonial-owl-carousel">
                        <div class="item">
                            <div class="card">
                                <div class="card-body">
                                    <div class="">
                                        <div class="d-flex mb-5">
                                            {# <div><img src="{{ 'assets/images/users/15.jpg'|theme }}"
                                                    class="avatar-xl avatar brround" alt="img"></div> #}
                                                    <div class="col-md-3 col-sm-12"> <div class="testimonial-img"><img src="{{ 'assets/images/users/15.jpg'|theme }}" class="br-7 w-100 h-100" alt="img"></div>
                                                     </div>
                                            <div class="ms-4 mt-3">
                                                <h3 class="title fs-18 font-weight-semibold">Serikbayeva Malika Shaxidin qizi</h3>
                                                <span class="post">Iqtidorli talaba</span>
                                                 <p class="mb-0 mt-4 fs-16"><h5>Gumanitar fanlar fakulteti Rus tili va adabiyoti yo'nalishi 4-bosqich talabasi</h5></p>
                                            </div>                                            
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>

                          <div class="item">
                            <div class="card">
                                <div class="card-body">
                                    <div class="">
                                        <div class="d-flex mb-5">
                                            {# <div><img src="{{ 'assets/images/users/26.jpg'|theme }}"
                                                    class="avatar-xl avatar brround" alt="img"></div> #}
                                                     <div class="col-md-3 col-sm-12"> <div class="testimonial-img"><img src="{{ 'assets/images/users/26.jpg'|theme }}" class="br-7 w-100 h-100" alt="img"></div>
                                                     </div>
                                            <div class="ms-4 mt-3">
                                                <h3 class="title fs-18 font-weight-semibold">Askarova Mashxura Akmal qizi</h3>
                                                <span class="post">Iqtidorli talaba</span>
                                                 <p class="mb-0 mt-4 fs-16"><h5>Gumanitar fanlar fakulteti  oʻzbek tili va adabiyoti  yo'nalishi 3-bosqich talabasi</h5></p>
                                            </div>
                                        </div>
                                       
                                       
                                    </div>
                                </div>
                            </div>
                        </div>

                          <div class="item">
                            <div class="card">
                                <div class="card-body">
                                    <div class="">
                                        <div class="d-flex mb-5">
                                            {# <div><img src="{{ 'assets/images/users/19.jpg'|theme }}"
                                                    class="avatar-xl avatar brround" alt="img"></div> #}
                                                    <div class="col-md-3 col-sm-12"> <div class="testimonial-img"><img src="{{ 'assets/images/users/19.jpg'|theme }}" class="br-7 w-100 h-100" alt="img"></div>
                                                     </div>
                                            <div class="ms-4 mt-3">
                                                <h3 class="title fs-18 font-weight-semibold">Baxromjon Baxtiyorovich Jo'raboyev</h3>
                                                <span class="post">Iqtidorli talaba</span>
                                                <p class="mb-0 mt-4 fs-16"><h5>Turizm fakulteti xorijiy til va adabiyoti: nemis tili yo'nalishi 4-bosqich talabasi</h5></p>
                                            </div>
                                        </div>
                                       
                                     
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/Section-->