<!--Section-->
		<section class="sptb bg-white">
			<div class="container">
				<div class="section-title">
					<h2>Universitet Yangiliklari</h2>
					<p class="fs-18 lead">Universitetda bo'layotgan so'ngi yangilik va tadbirlarni bu yerda o'qishingiz mumkin.</p>
				</div>
				<div class="panel panel-primary">
					<div class="">
						<div class="tabs-menu ">
							<!-- Tabs -->
							<ul class="nav panel-tabs eductaional-tabs mb-6">
								<li class=""><a href="#tab1" class="active show" data-bs-toggle="tab">Barchasi</a></li>
								<li><a href="#tab2" data-bs-toggle="tab" class="">Yangiliklar</a></li>
								<li><a href="#tab3" data-bs-toggle="tab" class="">E'lonlar</a></li>
								<li><a href="#tab4" data-bs-toggle="tab" class="">Dolzarb</a></li>
								<li><a href="#tab4" data-bs-toggle="tab" class="">PHD himoyasi <span class="right badge badge-danger">!</span></a></li>
								<li><a href="#tab4" data-bs-toggle="tab" class="">Tadbirlar</a></li>
								<li><a href="#tab4" data-bs-toggle="tab" class="">Qabul-2023 <span class="right badge badge-danger">!</span></a></li>
								<li><a href="#tab4" data-bs-toggle="tab" class="">Foto galereya</a></li>
								<li><a href="#tab4" data-bs-toggle="tab" class="">Video galereya</a></li>
							</ul>
						</div>
					</div>
					<div class="panel-body p-0">
						<div class="tab-content">
							<div class="tab-pane active show" id="tab1">
								<div class="row">
									<div class="col-xl-4 col-md-6">
										<div class="card overflow-hidden">
											<div class="ribbon ribbon-top-left text-danger"><span class="bg-danger">E'lon</span></div>
											<div class="item-card7-img pt-5 px-5">
												<div class="item-card7-imgs">
													<a href="javascript:void(0)"></a>
													<img src="{{'assets/images/banners/test_surat.webp'|theme }}" alt="img" class="cover-image br-7 border">
												</div>
											</div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="javascript:void(0)" class="text-dark"><h4 class="font-weight-semibold mb-1">OTM Xabarining nomlanish qismi</h4></a>
													</div>
													<div class="d-flex mb-0">
														
														<span class="">487 o'qilgan</span>
													</div>
													<div class="pt-2 mb-3">
														<a class="me-4"><span class="font-weight-bold">Bo'lim :</span> <span class="text-muted">E'lonlar</span></a>
														<a class="me-4 float-right"><span class="font-weight-bold">Yaratildi :</span><span class="text-muted"> 2 Soat oldin </span></a>
													</div>
													<p class="mb-0">Bu yerda xabarning qisqacha mazmuni keltiriladi 5-6 so'zdan iborat bo'lgan...</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-md-6">
										<div class="card overflow-hidden">
											<div class="power-ribbon power-ribbon-top-left text-warning"><span class="bg-warning"><img src="{{'assets/images/png/power.png'|theme }}" class=""></span></div>
											<div class="item-card7-img pt-5 px-5">
												<div class="item-card7-imgs">
													<a href="javascript:void(0)"></a>
													<img src="{{'assets/images/banners/test_surat_2.webp'|theme }}" alt="img" class="cover-image br-7 border">
												</div>
											
											</div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="javascript:void(0)" class="text-dark"><h4 class="font-weight-semibold mb-1"> OTM Xabarining nomlanish qismi</h4></a>
													</div>
													<div class="d-flex mb-0">
														
														<span class="">487 o'qilgan</span>
													</div>
													<div class="pt-2 mb-3">
														<a class="me-4"><span class="font-weight-bold">Bo'lim :</span><span class="text-muted">Yangilik, Dolzarbgm</span></a>
														<a class="me-4 float-right"><span class="font-weight-bold">Yaratildi :</span><span class="text-muted"> 1 Soat oldin</span></a>
													</div>
													<p class="mb-0">Bu yerda xabarning qisqacha mazmuni keltiriladi 5-6 so'zdan iborat bo'lgan...</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-md-6">
										<div class="card overflow-hidden">
											<div class="power-ribbon power-ribbon-top-left text-warning"><span class="bg-warning"><img src="{{'assets/images/png/power.png'|theme }}" class=""></span></div>
											<div class="item-card7-img pt-5 px-5">
												<div class="item-card7-imgs">
													<a href="javascript:void(0)"></a>
													<img src="{{'assets/images/banners/test_surat_3.webp'|theme }}" alt="img" class="cover-image br-7 border">
												</div>
												<div class="item-card7-overlaytext">
													<h4  class="font-weight-semibold mb-0">Video galereya</h4>
												</div>
											</div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="javascript:void(0)" class="text-dark"><h4 class="font-weight-semibold mb-1">OTM Xabarining nomlanish qismi</h4></a>
													</div>
													<div class="d-flex mb-0">
														
														<span class="">487 o'qilgan</span>
													</div>
													<div class="pt-2 mb-3">
														<a class="me-4"><span class="font-weight-bold">Bo'lim :</span> <span class="text-muted">Yangilik, Dolzarb</span></a>
														<a class="me-4 float-right"><span class="font-weight-bold">Yaratildi :</span> <span class="text-muted">3 Soat oldin</span></a>
													</div>
													<p class="mb-0">Bu yerda xabarning qisqacha mazmuni keltiriladi 5-6 so'zdan iborat bo'lgan...</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-md-6">
										<div class="card overflow-hidden mb-xl-0">
											<div class="power-ribbon power-ribbon-top-left text-warning"><span class="bg-warning"><img src="{{'assets/images/png/power.png'|theme }}" class=""></span></div>
											<div class="item-card7-img pt-5 px-5">
												<div class="item-card7-imgs">
													<a href="javascript:void(0)"></a>
													<img src="{{'assets/images/banners/test_surat_4.webp'|theme }}" alt="img" class="cover-image br-7 border">
												</div>
												
											</div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="javascript:void(0)" class="text-dark"><h4 class="font-weight-semibold mb-1">OTM Xabarining nomlanish qismi</h4></a>
													</div>
													<div class="d-flex mb-0">
														
														<span class="">487 o'qilgan</span>
													</div>
													<div class="pt-2 mb-3">
														<a class="me-4"><span class="font-weight-bold">Bo'lim :</span><span class="text-muted"> Yangilik </span></a>
														<a class="me-4 float-right"><span class="font-weight-bold">Yaratildi :</span><span class="text-muted"> 2 Soat oldin</span></a>
													</div>
													<p class="mb-0">Bu yerda xabarning qisqacha mazmuni keltiriladi 5-6 so'zdan iborat bo'lgan...</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-md-6">
										<div class="card mb-md-0">
											<div class="item-card7-img pt-5 px-5">
												<div class="item-card7-imgs">
													<a href="javascript:void(0)"></a>
													<img src="{{'assets/images/banners/test_surat_5.webp'|theme }}" alt="img" class="cover-image br-7 border">
												</div>
												<div class="item-card7-overlaytext">
													<h4  class="font-weight-semibold mb-0">Video galereya</h4>
												</div>
											</div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="javascript:void(0)" class="text-dark"><h4 class="font-weight-semibold mb-1">OTM Xabarining nomlanish qismi</h4></a>
													</div>
													<div class="d-flex mb-0">
														
														<span class="">487 o'qilgan</span>
													</div>
													<div class="pt-2 mb-3">
														<a class="me-4"><span class="font-weight-bold">Bo'lim :</span><span class="text-muted"> Yangilik</span></a>
														<a class="me-4 float-right"><span class="font-weight-bold">Yaratildi :</span><span class="text-muted"> 3 Soat oldin</span></a>
													</div>
													<p class="mb-0">Bu yerda xabarning qisqacha mazmuni keltiriladi 5-6 so'zdan iborat bo'lgan...</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-md-6">
										<div class="card mb-0">
											<div class="item-card7-img pt-5 px-5">
												<div class="item-card7-imgs">
													<a href="javascript:void(0)"></a>
													<img src="{{'assets/images/banners/test_surat_6.webp'|theme }}" alt="img" class="cover-image br-7 border">
												</div>
												<div class="item-card7-overlaytext">
													<h4  class="font-weight-semibold mb-0">Foto galereya</h4>
												</div>
											</div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="javascript:void(0)" class="text-dark"><h4 class="font-weight-semibold mb-1">OTM Xabarining nomlanish qismi</h4></a>
													</div>
													<div class="d-flex mb-0">
														
														<span class="">487 o'qilgan</span>
													</div>
													<div class="pt-2 mb-3">
														<a class="me-4"><span class="font-weight-bold">Bo'lim :</span> <span class="text-muted"> Yangilik</span></a>
														<a class="me-4 float-right"><span class="font-weight-bold">Yaratildi :</span> <span class="text-muted">3 Soat oldin</span></a>
													</div>
													<p class="mb-0">Bu yerda xabarning qisqacha mazmuni keltiriladi 5-6 so'zdan iborat bo'lgan...</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="tab2">
								<div class="row">
									<div class="col-xl-4 col-md-6">
										<div class="card overflow-hidden mb-xl-0">
											<div class="power-ribbon power-ribbon-top-left text-warning"><span class="bg-warning"><img src="{{'assets/images/png/power.png'|theme }}" class=""></span></div>
											<div class="item-card7-img pt-5 px-5">
												<div class="item-card7-imgs">
													<a href="javascript:void(0)"></a>
													<img src="{{'assets/images/banners/test_surat.webp'|theme }}" alt="img" class="cover-image br-7 border">
												</div>
												<div class="item-card7-overlaytext">
													<h4  class="font-weight-semibold mb-0">Video galereya</h4>
												</div>
											</div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="javascript:void(0)" class="text-dark"><h4 class="font-weight-semibold mb-1">OTM Xabarining nomlanish qismi</h4></a>
													</div>
													<div class="d-flex mb-0">
														
														<span class="">487 o'qilgan</span>
													</div>
													<div class="pt-2 mb-3">
														<a class="me-4"><span class="font-weight-bold">Bo'lim :</span> <span class="text-muted">Yangilik</span></a>
														<a class="me-4 float-right"><span class="font-weight-bold">Yaratildi :</span><span class="text-muted"> 3 Soat oldin</span></a>
													</div>
													<p class="mb-0">Bu yerda xabarning qisqacha mazmuni keltiriladi 5-6 so'zdan iborat bo'lgan...</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-md-6">
										<div class="card overflow-hidden mb-md-0">
											<div class="item-card7-img pt-5 px-5">
												<div class="item-card7-imgs">
													<a href="javascript:void(0)"></a>
													<img src="{{'assets/images/banners/test_surat_2.webp'|theme }}" alt="img" class="cover-image br-7 border">
												</div>
												<div class="item-card7-overlaytext">
													<h4  class="font-weight-semibold mb-0">Foto galereya</h4>
												</div>
											</div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="javascript:void(0)" class="text-dark"><h4 class="font-weight-semibold mb-1">OTM Xabarining nomlanish qismi</h4></a>
													</div>
													<div class="d-flex mb-0">
														
														<span class="">487 o'qilgan</span>
													</div>
													<div class="pt-2 mb-3">
														<a class="me-4"><span class="font-weight-bold">Bo'lim :</span><span class="text-muted"> Yangilik</span></a>
														<a class="me-4 float-right"><span class="font-weight-bold">Yaratildi :</span><span class="text-muted"> 2 Soat oldin</span></a>
													</div>
													<p class="mb-0">Bu yerda xabarning qisqacha mazmuni keltiriladi 5-6 so'zdan iborat bo'lgan...</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-md-6">
										<div class="card mb-0">
											<div class="item-card7-img pt-5 px-5">
												<div class="item-card7-imgs">
													<a href="javascript:void(0)"></a>
													<img src="{{'assets/images/banners/test_surat_3.webp'|theme }}" alt="img" class="cover-image br-7 border">
												</div>
												<div class="item-card7-overlaytext">
													<h4  class="font-weight-semibold mb-0">Video galereya</h4>
												</div>
											</div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="javascript:void(0)" class="text-dark"><h4 class="font-weight-semibold mb-1">OTM Xabarining nomlanish qismi</h4></a>
													</div>
													<div class="d-flex mb-0">
														
														<span class="">487 o'qilgan</span>
													</div>
													<div class="pt-2 mb-3">
														<a class="me-4"><span class="font-weight-bold">Bo'lim :</span> <span class="text-muted">Yangilik</span></a>
														<a class="me-4 float-right"><span class="font-weight-bold">Yaratildi :</span> <span class="text-muted">8 Hours</span></a>
													</div>
													<p class="mb-0">Bu yerda xabarning qisqacha mazmuni keltiriladi 5-6 so'zdan iborat bo'lgan...</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="tab3">
								<div class="row">
									<div class="col-xl-4 col-md-6">
										<div class="card overflow-hidden mb-xl-0">
											<div class="ribbon ribbon-top-left text-danger"><span class="bg-danger">E'lon</span></div>
											<div class="item-card7-img pt-5 px-5">
												<div class="item-card7-imgs">
													<a href="javascript:void(0)"></a>
													<img src="{{'assets/images/banners/test_surat_4.webp'|theme }}" alt="img" class="cover-image br-7 border">
												</div>
											</div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="javascript:void(0)" class="text-dark"><h4 class="font-weight-semibold mb-1"> OTM Xabarining nomlanish qismi</h4></a>
													</div>
													<div class="d-flex mb-0">
														
														<span class="">487 o'qilgan</span>
													</div>
													<div class="pt-2 mb-3">
														<a class="me-4"><span class="font-weight-bold">Bo'lim :</span> <span class="text-muted">E'lon</span></a>
														<a class="me-4 float-right"><span class="font-weight-bold">Yaratildi :</span> <span class="text-muted">2 Soat oldin</span></a>
													</div>
													<p class="mb-0">Bu yerda xabarning qisqacha mazmuni keltiriladi 5-6 so'zdan iborat bo'lgan...</p>
												</div>
											</div>
										</div>
									</div>
									
									<div class="col-xl-4 col-md-6">
										<div class="card overflow-hidden mb-xl-0">
											<div class="ribbon ribbon-top-left text-danger"><span class="bg-danger">E'lon</span></div>
											<div class="item-card7-img pt-5 px-5">
												<div class="item-card7-imgs">
													<a href="javascript:void(0)"></a>
													<img src="{{'assets/images/banners/test_surat_6.webp'|theme }}" alt="img" class="cover-image br-7 border">
												</div>
											</div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="javascript:void(0)" class="text-dark"><h4 class="font-weight-semibold mb-1">OTM Xabarining nomlanish qismi</h4></a>
													</div>
													<div class="d-flex mb-0">
														
														<span class="">487 o'qilgan</span>
													</div>
													<div class="pt-2 mb-3">
														<a class="me-4"><span class="font-weight-bold">Bo'lim :</span> <span class="text-muted">E'lon</span></a>
														<a class="me-4 float-right"><span class="font-weight-bold">Yaratildi :</span> <span class="text-muted">2 Soat oldin</span></a>
													</div>
													<p class="mb-0">Bu yerda xabarning qisqacha mazmuni keltiriladi 5-6 so'zdan iborat bo'lgan...</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-md-6">
										<div class="card overflow-hidden mb-xl-0">
											<div class="ribbon ribbon-top-left text-danger"><span class="bg-danger">E'lon</span></div>
											<div class="item-card7-img pt-5 px-5">
												<div class="item-card7-imgs">
													<a href="javascript:void(0)"></a>
													<img src="{{'assets/images/banners/test_surat_7.webp'|theme }}" alt="img" class="cover-image br-7 border">
												</div>
											</div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="javascript:void(0)" class="text-dark"><h4 class="font-weight-semibold mb-1">OTM Xabarining nomlanish qismi</h4></a>
													</div>
													<div class="d-flex mb-0">
														
														<span class="">487 o'qilgan</span>
													</div>
													<div class="pt-2 mb-3">
														<a class="me-4"><span class="font-weight-bold">Bo'lim :</span> <span class="text-muted">E'lon</span></a>
														<a class="me-4 float-right"><span class="font-weight-bold">Yaratildi :</span> <span class="text-muted">2 Soat oldin</span></a>
													</div>
													<p class="mb-0">Bu yerda xabarning qisqacha mazmuni keltiriladi 5-6 so'zdan iborat bo'lgan...</p>
												</div>
											</div>
										</div>
									</div>
									
								</div>
							</div>
							<div class="tab-pane" id="tab4">
								<div class="row">
									<div class="col-xl-4 col-md-6">
										<div class="card overflow-hidden mb-0">
											<div class="power-ribbon power-ribbon-top-left text-warning"><span class="bg-warning"><img src="{{'assets/images/png/power.png'|theme }}" class=""></span></div>
											<div class="item-card7-img pt-5 px-5">
												<div class="item-card7-imgs">
													<a href="javascript:void(0)"></a>
													<img src="{{'assets/images/banners/test_surat_7.webp'|theme }}" alt="img" class="cover-image br-7 border">
												</div>
												<div class="item-card7-overlaytext">
													<h4  class="font-weight-semibold mb-0">Foto galereya</h4>
												</div>
											</div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="javascript:void(0)" class="text-dark"><h4 class="font-weight-semibold mb-1">OTM Xabarining nomlanish qismi</h4></a>
													</div>
													<div class="d-flex mb-0">
														
														<span class="">487 o'qilgan</span>
													</div>
													<div class="pt-2 mb-3">
														<a class="me-4"><span class="font-weight-bold">Bo'lim :</span> <span class="text-muted">Yangilik</span></a>
														<a class="me-4 float-right"><span class="font-weight-bold">Yaratildi :</span> <span class="text-muted">3 Soat oldin</span></a>
													</div>
													<p class="mb-0">Bu yerda xabarning qisqacha mazmuni keltiriladi 5-6 so'zdan iborat bo'lgan...</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/Section-->