<!--Section-->
    <section class="sptb">
        <div class="container">
            <div class="section-title">
                <h2>Foto va Video Gallereya</h2>
                <p class="fs-18 lead">Universitetda bo'layotgan voqealarning Foto va Video gallereyalari</p>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12">
                    <div class="card mb-lg-0">
                        <div class="card-body">
                            <div class="item7-card-img mb-4 br-7">
                                <a href="javascript:void(0)"></a>
                                <img src="{{ 'assets/images/banners/test_surat.webp'|theme }}" alt="img" class="cover-image">
                            </div>
                            <div class="item7-card-desc d-flex mb-2">
                                <a href="javascript:void(0)"><i class="fe fe-calendar me-2"></i>Dec-03-2023</a>
                                <div class="ms-auto">
                                    <a href="javascript:void(0)"><i class="fe fe-message-circle me-2"></i>4 izohlar</a>
                                </div>
                            </div>
                            <a href="#" class="">
                                <h3 class="font-weight-semibold fs-18">Foto gallereya nomlanishi</h3>
                            </a>
                            <p>Unga berilgan qisqacha ma'lumotlar haqida yozib o'tiladi...</p>
                            <div class="d-flex align-items-center pt-2 mt-auto">
                                <img src="{{ 'assets/images/users/18.jpg'|theme }}"
                                    class="avatar brround avatar-md me-3" alt="avatar-img">
                                <div>
                                    <a href="profile.html" class="font-weight-bold">Familya ism</a>
                                    <small class="d-block text-muted">1 kun oldin</small>
                                </div>
                                <div class="ms-auto text-muted">
                                    <a href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><i
                                            class="fe fe-heart me-1"></i></a>
                                    <a href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><i
                                            class="fe fe-thumbs-up"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12">
                    <div class="card mb-lg-0">
                        <div class="card-body">
                            <div class="item7-card-img mb-4 br-7">
                                <a href="javascript:void(0)"></a>
                                <img src="{{ 'assets/images/banners/test_surat_2.webp'|theme }}" alt="img" class="cover-image">
                            </div>
                            <div class="item7-card-desc d-flex mb-2">
                                <a href="javascript:void(0)"><i class="fe fe-calendar me-2"></i>Noy-28-2023</a>
                                <div class="ms-auto">
                                    <a href="javascript:void(0)"><i class="fe fe-message-circle me-2"></i>2 Izohlar</a>
                                </div>
                            </div>
                            <a href="#" class="">
                                <h3 class="font-weight-semibold fs-18">Video gallereya nomlanishi</h3>
                            </a>
                            <p>Unga berilgan qisqacha ma'lumotlar haqida yozib o'tiladi...</p>
                            <div class="d-flex align-items-center pt-2 mt-auto">
                                <img src="{{ 'assets/images/users/15.jpg'|theme }}"
                                    class="avatar brround avatar-md me-3" alt="avatar-img">
                                <div>
                                    <a href="profile.html" class="font-weight-bold">Familya ism</a>
                                    <small class="d-block text-muted">2 kun oldin</small>
                                </div>
                                <div class="ms-auto text-muted">
                                    <a href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><i
                                            class="fe fe-heart me-1"></i></a>
                                    <a href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><i
                                            class="fe fe-thumbs-up"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="item7-card-img mb-4 br-7">
                                <a href="javascript:void(0)"></a>
                                <img src="{{ 'assets/images/banners/test_surat_4.webp'|theme }}" alt="img" class="cover-image">
                            </div>
                            <div class="item7-card-desc d-flex mb-2">
                                <a href="javascript:void(0)"><i class="fe fe-calendar me-2"></i>Noy-19-2022</a>
                                <div class="ms-auto">
                                    <a href="javascript:void(0)"><i class="fe fe-message-circle text-muted me-2"></i>8
                                        Comments</a>
                                </div>
                            </div>
                            <a href="#" class="">
                                <h3 class="font-weight-semibold fs-18">Video gallereya nomlanishi</h3>
                            </a>
                            <p>Unga berilgan qisqacha ma'lumotlar haqida yozib o'tiladi...</p>
                            <div class="d-flex align-items-center pt-2 mt-auto">
                                <img src="{{ 'assets/images/users/13.jpg'|theme }}"
                                    class="avatar brround avatar-md me-3" alt="avatar-img">
                                <div>
                                    <a href="profile.html" class="font-weight-bold">Familya ism</a>
                                    <small class="d-block text-muted">5 kun oldin</small>
                                </div>
                                <div class="ms-auto text-muted">
                                    <a href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><i
                                            class="fe fe-heart me-1"></i></a>
                                    <a href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><i
                                            class="fe fe-thumbs-up"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/Section-->