<!-- Video -->
			<div id="main">
				<section class="">
					<div class="header-text text mb-0">
						<div class="container">
							<div class="text-white row">
								<div class="col-xl-10 col-lg-9 d-block mx-auto text-center">
									<h1 class="font-weight-semibold fs-50">CHIRCHIQ DAVLAT PEDAGOGIKA UNIVERSITETI</h1>
									<p class="fs-18 text-white-80">Universitet 0‘zbekiston Respublikasi Prezidentining 2017-yil 27-iyuldagi PQ-3152 sonli "Toshkent viloyati Chirchiq davlat pedagogika institutini tashkil etish to`g`risida"gi Qaroriga asosan tashkil etilgan.</p>
									<a class="btn btn-secondary py-2 px-6 mt-5 fs-16" href="javascript:void(0)">Batafsil o'qish</a>
								</div>
							</div>
						</div>
					</div><!-- /header-text -->
				</section>
			</div>
		</div>
		<!-- /End of Video -->