:root {
    --bs-primary-rgb: 107, 103, 233;
}

body {
    background: #f1f3ff;
    font-family: 'Roboto', Arial, Tahoma, sans-serif;
}

a {
    color: #ec3229;
}

a:hover {
    color: #ec3229;
}

.card .body {
    font-size: 14px;
    color: #1f2427;
    padding: 16px;
    font-weight: 400;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5em;
    color: inherit;
}

.fs-16 {
    font-size: 16px;
}

.fw-semi-bold {
    font-weight: 500;
}

/* .mb-5 {
    margin-bottom: 3rem !important;
} */

.mt-2 {
    margin-top: 0.5rem !important;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.license-wrapper {
    min-height: 80vh;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 20px;
    text-align: center;
}

#license,
#license2,
#license-terms,
#faq-license {
    border: 0;
    border-radius: 12px;
    box-shadow: 0px 0px 50px 1px #bbc0e6;
    padding: 30px;
    text-align: left;
    margin-bottom: 2rem;
}


.bg-warning-transparent {
    background-color: #fff3cd !important;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #6b67e9;
    --bs-btn-border-color: #6b67e9;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5854e9;
    --bs-btn-hover-border-color: #3430d3;
    --bs-btn-focus-shadow-rgb: 107, 103, 233;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #3430d3;
    --bs-btn-active-border-color: #3430d3;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6b67e9;
    --bs-btn-disabled-border-color: #6b67e9;
}

.btn-outline-primary {
    --bs-btn-color: #6b67e9;
    --bs-btn-border-color: #6b67e9;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6b67e9;
    --bs-btn-hover-border-color: #6b67e9;
    --bs-btn-focus-shadow-rgb: 107, 103, 233;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6b67e9;
    --bs-btn-active-border-color: #6b67e9;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6b67e9;
    --bs-btn-disabled-bg: transparent;
    --bs-gradient: none;
}


.btn-outline-secondary {
    --bs-btn-color: #ec3229;
    --bs-btn-border-color: #ec3229;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ec3229;
    --bs-btn-hover-border-color: #ec3229;
    --bs-btn-focus-shadow-rgb: 236, 50, 41;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ec3229;
    --bs-btn-active-border-color: #ec3229;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ec3229;
    --bs-btn-disabled-bg: transparent;
    --bs-gradient: none;
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ec3229;
    --bs-btn-border-color: #ec3229;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bd1d15;
    --bs-btn-hover-border-color: #eb4139;
    --bs-btn-focus-shadow-rgb: 236, 50, 41;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #eb4139;
    --bs-btn-active-border-color: #f35c55;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ec3229;
    --bs-btn-disabled-border-color: #ec3229;
}

.btn-light {
    --bs-btn-color: #000;
    --bs-btn-bg: #dfdeff;
    --bs-btn-border-color: #dfdeff;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #dfdeff;
    --bs-btn-hover-border-color: #dfdeff;
    --bs-btn-focus-shadow-rgb: 223, 222, 255;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #dfdeff;
    --bs-btn-active-border-color: #dfdeff;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #dfdeff;
    --bs-btn-disabled-border-color: #dfdeff;
}

.border-warning {
    --bs-border-opacity: 0.2;
}

@media screen and (max-width: 1700px) and (min-width: 1400px) {
    .license-img svg {
        width: 350px !important;
        height: 350px !important;
    }

    .license-left {
        position: fixed;
        left: 0;
        top: 30%;
    }

    .license-center {
        margin-left: 21rem;
    }

    /* .support .license-right {
        position: fixed;
        right   : 3rem;
        top     : 30%;
    } */
}

@media screen and (min-width:1701px) {
    .license-center {
        margin-left: 26rem;
    }

    /* .support .license-right {
        position: fixed;
        right   : 3rem;
        top     : 30%;
    } */

    .license-left {
        position: fixed;
        left: 0;
        top: 30%;
    }

    .license-img svg {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width:600px) {
    .license-img svg {
        width: 275px !important;
        height: 275px !important;
    }

    .license-wrapper {
        padding: 50px 0;
    }

    #license,
    #license2,
    #license-terms,
    #faq-license {
        padding: 30px 30px;
    }

    .support #example thead th {
        white-space: initial;
    }
}

@media screen and (min-width:1400px) {

    #example td,
    #example th {
        border-left: 0.5px solid #d4d4d4;
    }
}

@media screen and (min-width:366px) {

    #example td,
    #example th {
        border-left: 0.5px solid #d4d4d4;
    }

    #example td:nth-child(1),
    #example th:nth-child(1) {
        border-right: 0;
    }

}

.checked-icons {
    width: 25px;
    height: 25px;
}

.checked-icons2 {
    width: 20px;
    height: 20px;
}

#license-terms {
    margin-top: 0 !important;
    left: 0 !important;
}


.license-terms-table.table>:not(caption)>*>* {
    border-bottom-width: 0;
}


.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

@media screen and (min-width:570px) {
    .license-details tr th:nth-child(2) {
        border-left: 0;
        border-right: 0;
    }

    .license-details tr td:nth-child(2) {
        border-left: 0;
        border-right: 0;
    }

    .license-details tr th:nth-child(2) {
        border-right: 0;
    }

    .license-details tr td:nth-child(2) {
        border-right: 0;
    }
}

@media screen and (min-width:432px) {

    .license-details tr th:nth-child(2) {
        border-right: 1px solid #e0e0e0;
        border-left: 0;
    }

    .license-details tr td:nth-child(2) {
        border-right: 1px solid #e0e0e0;
        border-left: 0;
    }
}

@media screen and (min-width:502px) {

    .license-details tr th:nth-child(2) {
        border-right: 0;
        border-left: 0;
    }

    .license-details tr td:nth-child(2) {
        border-right: 0;
        border-left: 0;
    }

    .support tr th:nth-child(2) {
        border-right: 0;
        border-left: 0;
    }

    .support tr td:nth-child(2) {
        border-right: 0;
        border-left: 0;
    }
}

.license-terms-table tr td {
    border: 0 !important;
}

.text-primary {
    --bs-primary-rgb: 107, 103, 233;
}

.card {
    --bs-card-cap-bg: rgb(241, 243, 255, 0.5);
    --bs-card-border-color: #e0e0e0;
}

.card-header p {
    font-weight: 400;
    font-size: 1rem;
}

.card-header {
    background-color: transparent;
}

.image-svg svg {
    width: 20px;
    height: 20px;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    margin-bottom: 20px;
}

#example {
    border-top: 1px solid #d4d4d4;
    /* border-radius: 5px; */
    /* overflow: hidden; */
    /* margin-bottom: 2rem !important; */
}

table.dataTable.stripe>tbody>tr.odd>*,
table.dataTable.display>tbody>tr.odd>*,
table.dataTable.display>tbody>tr.even>.sorting_1,
table.dataTable.order-column.stripe>tbody>tr.even>.sorting_1,
table.dataTable.display>tbody>tr.odd>.sorting_1,
table.dataTable.order-column.stripe>tbody>tr.odd>.sorting_1,
table.dataTable.hover>tbody>tr:hover>*,
table.dataTable.display>tbody>tr:hover>* {
    box-shadow: none;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable.no-footer {
    border-bottom: 1px solid #d4d4d4;
}

table.dataTable thead>tr>th.sorting_asc:before,
table.dataTable thead>tr>th.sorting_desc:after,
table.dataTable thead>tr>td.sorting_asc:before,
table.dataTable thead>tr>td.sorting_desc:after {
    display: none;
}

table.dataTable thead>tr>th.sorting:after,
table.dataTable thead>tr>th.sorting_asc:after,
table.dataTable thead>tr>th.sorting_desc:after,
table.dataTable thead>tr>th.sorting_asc_disabled:after,
table.dataTable thead>tr>th.sorting_desc_disabled:after,
table.dataTable thead>tr>td.sorting:after,
table.dataTable thead>tr>td.sorting_asc:after,
table.dataTable thead>tr>td.sorting_desc:after,
table.dataTable thead>tr>td.sorting_asc_disabled:after,
table.dataTable thead>tr>td.sorting_desc_disabled:after,
table.dataTable thead>tr>th.sorting:before,
table.dataTable thead>tr>th.sorting_asc:before,
table.dataTable thead>tr>th.sorting_desc:before,
table.dataTable thead>tr>th.sorting_asc_disabled:before,
table.dataTable thead>tr>th.sorting_desc_disabled:before,
table.dataTable thead>tr>td.sorting:before,
table.dataTable thead>tr>td.sorting_asc:before,
table.dataTable thead>tr>td.sorting_desc:before,
table.dataTable thead>tr>td.sorting_asc_disabled:before,
table.dataTable thead>tr>td.sorting_desc_disabled:before {
    display: none;
}

#example_length,
#example_filter,
#example_info,
#example_paginate {
    display: none;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    /* top: 0;
    margin-top: 19px; */
    box-shadow: none;
}

.license-details .license-img svg {
    width: 400px;
    height: 400px;
}

#license-terms2 {
    font-size: 14px;
    border: 0;
    border-radius: 12px;
    box-shadow: 0px 0px 50px 1px #bbc0e6;
    padding: 20px;
    text-align: left;
    margin-bottom: 1.5rem;
}

#license-terms2 ul {
    list-style-type: decimal;
}

/* #example thead td,
#example thead th {
    background-color: #454545;
    color: white;
} */

#example tbody tr:nth-child(odd) td {
    background-color: #ededed;
}

#example tbody td,
#example tbody th {
    background-color: whitesmoke;
}

#example .checked-icons,
.accordion-body .checked-icons {
    width: 20px;
    height: 20px;
}

#accordionExample .accordion-button {
    line-height: 1.5;
    padding: 0.5rem 2.5rem 0.5rem 1.25rem;
    /* width: 98%; */
}

.accordion {
    --bs-accordion-color: #000;
    --bs-accordion-bg: #fff;
    --bs-accordion-btn-focus-border-color: #f1f3ff;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-active-color: #6b67e9;
    --bs-accordion-active-bg: #f1f3ff;
    --bs-accordion-btn-padding-y: 0.5rem;
}

.accordion-item {
    border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color) !important;
    margin-block-end: 12px;
    border-radius: 5px;
    overflow: hidden;
}

.accordion-item>.accordion-header>.accordion-button>.accordion-controls {
    position: absolute;
    inset-inline-end: 12px;
}

.accordion-item>.accordion-header>.accordion-button:not(.collapsed)>.accordion-controls>.expand {
    display: none;
}

.accordion-item>.accordion-header>.accordion-button:not(.collapsed)>.accordion-controls>.shrink {
    display: block;
}

.accordion-item>.accordion-header>.accordion-button.collapsed>.accordion-controls>.expand {
    display: block;
}

.accordion-item>.accordion-header>.accordion-button.collapsed>.accordion-controls>.shrink {
    display: none;
}

.accordion-button::after {
    display: none;
}

@media screen and (max-width:1399px) {
    #license-terms-main {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
    }
}

.fs-10 {
    font-size: 10px;
}

/* .example-2 td{
    background:#fff !important;
} */